{% load staticfiles %} 
{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.css' %}" /> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Playfair+Display|Playfair+Display+SC" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script type="text/javascript"
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPJKsp0KIXVQNZTO8DY1xT6G3fcCvG3Jg&libraries=visualization,places">
    </script>
    <title>
        {% block title %} Floody Alert {% endblock title %}
    </title>
    {% block header %}{% endblock header %}

</head>

<meta name="viewport" content="width=device-width, initial-scale=1"> 

<body>
    <div class="hero-image">
        <div class="hero-text">
            <h1 style="font-size: 50px">Floody Alert</h1>
            <h2 style="font-size: 30px;" >Travel more safely</h2>
        </div>
        </div>
    </div>
    <form class="form-horizontal" role="form" method="POST" action="{% url 'floody:post' %}"  enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-group">
                <label class="btn btn-info btn-lg float-upload">
                    <i class="fa fa-upload fa-2x" style="margin-left: -3px;">
                        <input type="file" style="display: none;" name='image' class="form-control" id="file" required>
                    </i>
                </label>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" style="display:none;" name="location" id="location"/>
            </div>
        </div>
        <div class="form-group ">
            <button type="submit" class="btn btn-primary btn-lg btn-block btn-upload" style="display:none;">Upload</button>
        </div>
    </form>
    <a type="button" id="here" class="controls btn btn-lg float-here">
        <i class="fa fa-compass fa-2x" aria-hidden="true" style="margin-left:-2px;"></i>
    </a>
    {% if user.is_authenticated %}
     <a href="{% url 'floody:logged out' %}" type="button" class="btn btn-info btn-lg float-log-out">
         <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
    </a>
    {% else %}
        <a type="button" class="btn btn-info btn-lg float-acc" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
        </a>
    {% endif %}
    <div class="container" id="container">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
        
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Accounts</h4>
                    </div>
                    <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-3" style="text-align:center;"></div>
                                <div class="col-xs-2" style="text-align:center;">
                                    <a class="btn btn-primary loggin-btn">Log in </a> 
                                </div>
                                <div class="col-xs-2" style="text-align:center;">
                                    <h3 style="margin-top: -0px;">or</h3>
                                </div>
                                <div class="col-xs-2" style="text-align:center;">
                                    <a class="btn btn-success sign-up-btn">Sign up</a>
                                </div>
                                <div class="col-xs-3" style="text-align:center;"></div>
                            </div>
                            <div class="row sign-up">
                                <div class="col-xs-3"></div>
                                <div class="col-xs-6">
                                    <div class="main-sign-up">
                                        <div class="panel-heading">
                                            <div class="panel-title text-center">
                                                <h1 class="title">Registration</h1>
                                                <hr />
                                            </div>
                                        </div>
                                        <div class="main-login main-center content">
                                            <form class="form-horizontal" role="form" method="POST" action="{% url 'floody:register complete' %}">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="name" class="cols-sm-2 control-label">Username</label>
                                                    <div class="cols-sm-10">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user fa" aria-hidden="true"></i>
                                                            </span>
                                                            <input type="text" class="form-control" name="username" id="name" placeholder="Enter your username" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="email" class="cols-sm-2 control-label">Phone</label>
                                                    <div class="cols-sm-10">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope fa" aria-hidden="true"></i>
                                                            </span>
                                                            <input type="text" class="form-control" name="first_name" id="email" placeholder="Enter your phone number" />
                                                        </div>
                                                    </div>
                                                </div>
                                
                                                <div class="form-group">
                                                    <label for="password" class="cols-sm-2 control-label">Password</label>
                                                    <div class="cols-sm-10">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                                                            </span>
                                                            <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {% if error != None %} {% for e in error %}
                                                    <p style="color:red;">{{e}}</p>
                                                    {% endfor %} {% endif %}
                                                </div>
                                                <div class="form-group ">
                                                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row loggin">
                                <div class="col-xs-3"></div>
                                <div class="col-xs-6">
                                    <div class="main-loggin">
                                        <div class="panel-heading">
                                            <div class="panel-title text-center">
                                                <h1 class="title">Login</h1>
                                                <hr />
                                            </div>
                                        </div>
                                        <div class="main-login main-center content">
                                            <form class="form-horizontal" role="form" method="POST" action="{% url 'floody:logged in' %}">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="name" class="cols-sm-2 control-label">Username</label>
                                                    <div class="cols-sm-10">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user fa" aria-hidden="true"></i>
                                                            </span>
                                                            <input type="text" class="form-control" name="username" id="name" placeholder="Enter your username" />
                                                        </div>
                                                    </div>
                                                </div>
                                
                                                <div class="form-group">
                                                    <label for="password" class="cols-sm-2 control-label">Password</label>
                                                    <div class="cols-sm-10">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                                                            </span>
                                                            <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {% if error != None %} {% for e in error %}
                                                    <p style="color:red;">{{e}}</p>
                                                    {% endfor %} {% endif %}
                                                </div>
                                                <div class="form-group">
                                                    {% if messages %}
                                                    <ul class="messages">
                                                        {% for message in messages %}
                                                        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                                            {% endfor %}
                                                    </ul>
                                                    {% endif %}
                                                </div>
                                                <div class="form-group ">
                                                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Login</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
        
            </div>
        </div>

    </div>
    {% block content %} {% endblock content %}
    
    <footer>
        <div class="footer" id="footer">
            <div class="container" >
                <div class="row" >
                    <!-- <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6"></div> -->
                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6 col-md-offset-4">
                        <h3> Contact us </h3>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/tiensinh.vu"> Vu Tien Sinh </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/tafilong"> Nguyen Tai Long </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/lego1st"> Nguyen Trung Nghia </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> More Contact </h3>
                        <ul class="social" >
                            <li>
                                <a href="http://fb.com" target="_blank">
                                    <i class=" fa fa-facebook"> </i>
                                </a>
                            </li>
                            <li>
                                <a href="http://twitter.com" target="_blank">
                                    <i class="fa fa-twitter"> </i>
                                </a>
                            </li>
                            <li>
                                <a href="http://youtube.com" target="_blank">
                                    <i class="fa fa-youtube"> </i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </div>
        <!--/.footer-->

        <div class="footer-bottom">
            <div class="container" style="margin: auto; max-width: 360 px;">
                <p style="text-align: center;"> Copyright © SNL 2017. All right reserved. </p>
            </div>
        </div>
        <!--/.footer-bottom-->
    </footer>
</body>
<script>
    $(document).ready(function () {
        var el = document.getElementById('container');
        el.scrollIntoView(true);
    });
    $(document).ready(function () {
        var elMessages = $('.messages');
        if (elMessages.length && content) {
            $('.loggin').css('display', 'block');
            $('.sign-up').css('display', 'none');
            $('.float-acc').click();
        }
        else{
            $('.loggin').css('display', 'none');
            $('.sign-up').css('display', 'none');
        }
    })
    $('a.loggin-btn').click(function () {
        $('.loggin').css('display', 'block');
        $('.sign-up').css('display', 'none');
    })
    $('a.sign-up-btn').click(function () {
        $('.loggin').css('display', 'none');
        $('.sign-up').css('display', 'block');
    })

    $("#file").on('change', function () {
        $('input#location').val('blah');
        $('.btn-upload').click();
    })
    var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
    var labelIndex = 0;
    var map, infoWindow;
    var pos;
    function initialize() {
        var hanoi = { lat: 21.07, lng: 105.83 };
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: hanoi
        });

        var heatmapData = [
            new google.maps.LatLng(21.019, 105.7920),
            new google.maps.LatLng(21.019, 105.7925),
            new google.maps.LatLng(21.0195, 105.792),
            new google.maps.LatLng(21.015, 105.8050),
            new google.maps.LatLng(21.015, 105.8059),
            new google.maps.LatLng(21.017, 105.782)
        ];
        var heatmap = new google.maps.visualization.HeatmapLayer({
            data: heatmapData
        });
        heatmap.setMap(map);



        for (i in heatmapData) {
            (function (index) {
                var heat = heatmapData[i]

                var marker = new google.maps.Marker({
                    position: heat,
                    map: map,
                    icon: {
                        path: google.maps.SymbolPath.CIRCLE,
                        scale: 5,
                    }
                })

                marker.setOpacity(0);

                marker.addListener('click', function () {
                    var infowindow = new google.maps.InfoWindow({
                        content: "<div> <img src='test.jpg' width=150 data-toggle='modal' data-target='#myModal'></div>"
                    });
                    infowindow.open(map, marker);
                })
            })(i);
        }

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                console.log(position)
                pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                map.setCenter(pos);
                addMarker(pos, map, 'Me');
            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }

        new AutocompleteDirectionsHandler(map);


    }

    // Adds a marker to the map.
    function addMarker(location, map, mylable) {
        // Add the marker at the clicked location, and add the next-available label
        // from the array of alphabetical characters.
        var marker = new google.maps.Marker({
            position: location,
            label: mylable,
            map: map
        });
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }


    function AutocompleteDirectionsHandler(map) {
        this.map = map;
        this.originPlaceId = null;
        this.destinationPlaceId = null;
        this.travelMode = 'WALKING';
        var originInput = document.getElementById('origin-input');
        var destinationInput = document.getElementById('destination-input');
        var modeSelector = document.getElementById('mode-selector');
        this.directionsService = new google.maps.DirectionsService;
        this.directionsDisplay = new google.maps.DirectionsRenderer({
            draggable: true,
            map: map
        });

        var originAutocomplete = new google.maps.places.Autocomplete(
            originInput, { placeIdOnly: true });
        var destinationAutocomplete = new google.maps.places.Autocomplete(
            destinationInput, { placeIdOnly: true });
        // var placeid;

        this.setupClickListener('changemode-walking', 'WALKING');
        this.setupClickListener('changemode-transit', 'TRANSIT');
        this.setupClickListener('changemode-driving', 'DRIVING');

        this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
        this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');

        this.init()

        this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(originInput);
        this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(destinationInput);
        this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(modeSelector);
    }

    // Sets a listener on a radio button to change the filter type on Places
    // Autocomplete.
    AutocompleteDirectionsHandler.prototype.init = function () {
        var me = this;
        var origin = true;
        $('#origin-input').on('focus click', function () {
            origin = true;
        });
        $('#destination-input').on('focus click', function () {
            origin = false;
        });
        $('#here').click(function () {
            var geocoder = new google.maps.Geocoder;
            var latlng = pos;

            geocoder.geocode({ 'location': latlng }, function (results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    if (results[1]) {
                        if (origin) {
                            me.originPlaceId = results[1].place_id;
                            $('#origin-input').val(results[1].formatted_address);
                        } else {
                            me.destinationPlaceId = results[1].place_id;
                            $('#destination-input').val(results[1].formatted_address);
                        }
                        me.route();
                    } else {
                        window.alert('No results found');
                    }
                } else {
                    window.alert('Geocoder failed due to: ' + status);
                }
            });
        })
    }

    AutocompleteDirectionsHandler.prototype.setupClickListener = function (id, mode) {
        var radioButton = document.getElementById(id);
        var me = this;
        radioButton.addEventListener('click', function () {
            me.travelMode = mode;
            me.route();
        });
    };


    AutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function (autocomplete, mode) {
        var me = this;
        autocomplete.bindTo('bounds', this.map);
        autocomplete.addListener('place_changed', function () {
            var place = autocomplete.getPlace();
            if (!place.place_id) {
                window.alert("Please select an option from the dropdown list.");
                return;
            }
            if (mode === 'ORIG') {
                me.originPlaceId = place.place_id;
            } else {
                me.destinationPlaceId = place.place_id;
            }
            me.route();
        });

    };

    AutocompleteDirectionsHandler.prototype.route = function () {
        if (!this.originPlaceId || !this.destinationPlaceId) {
            return;
        }
        var me = this;

        this.directionsService.route({
            origin: { 'placeId': this.originPlaceId },
            destination: { 'placeId': this.destinationPlaceId },
            travelMode: this.travelMode
        }, function (response, status) {
            if (status === 'OK') {
                me.directionsDisplay.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    };


    google.maps.event.addDomListener(window, 'load', initialize);
</script>

</html>